<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Home.Handlebars Page</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </head>


</head>

<body>
    <div class="container">
        <h1>Presentation Name and Speaker Details:</h1>
        <table>
            <tr>
                <td><b>Presentation Name</b></td>
                <td><b>Speaker</b></td>
                <td><b>Birth Date</b></td>
                <td><b>Birth Place</b></td>
            </tr>
        {{#each body}}
        <tr>
        <td><a href="./getdetail?name={{this.name}}">{{this.name}}</a></td>
        <td>{{this.speaker}}</td>    
        <td>{{this.birthDate}}</td>    
        <td>{{this.birthPlace}}</td>  
        </tr>
        {{/each}}
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script type="text/babel">

        const speakers = {{{speakers}}}
        console.log(speakers)

    const SpeakerList = (props) => {
        const listItems = props.data.map((item) =>
        <li key={item._id}>
            <a href={"/getdetail?name="+item.name}>{item.name}</a>
            </li>);
            return <ul>{listItems}</ul>
            }

    // {name: "happiness", speaker:"Jennifer Allen", birthDate:1992, birthPlace:"Ruston, VA"}

    class SpeakerApp extends React.Component {
        constructor(props) {
        super(props);
        this.state = {
            items: {{{speakers}}}
        };
        }
        render() {
        return ( <SpeakerList data={speakers}/> );
        }
    }

    ReactDOM.render(  <Clock />,  document.getElementById('root') );

    </script>


</body>
</html>